In [26]:
import os
import pandas as pd
import sys
import xlrd

Criar um dataframe atraves de um arquivo excel

In [64]:
DfExcelContratos = pd.read_excel(os.path.join(os.getcwd(),'files','Base.xls'),sheet_name='Plan1')

In [28]:
DfExcelClientes = pd.read_excel(os.path.join(os.getcwd(),'files','Base.xls'),sheet_name='Plan2')

Criar um dataframe atraves de um arquivo txt

In [48]:
DfTxtContratos = pd.read_fwf(os.path.join(os.getcwd(),'files','BaseContratos.txt'),widths = [16,8,1,11], names = ['numero','cod_cliente','status_pagamento','data_vencimento'])

In [58]:
DfTxtClientes = pd.read_fwf(os.path.join(os.getcwd(),'files','BaseClientes.txt'),widths = [12,8,11], names = ['CpfCnpj','cod_cliente','ValorDivida'])

Remover colunas do DataFrame

In [65]:
contrato = DfExcelContratos['numero']

Pandas GroupBy

In [87]:
data_url = 'http://vincentarelbundock.github.io/Rdatasets/csv/carData/Salaries.csv'

In [88]:
df = pd.read_csv(data_url, index_col=0)

In [93]:
df

         rank discipline  yrs.since.phd  yrs.service   sex  salary
1        Prof          B             19           18  Male  139750
2        Prof          B             20           16  Male  173200
3    AsstProf          B              4            3  Male   79750
4        Prof          B             45           39  Male  115000
5        Prof          B             40           41  Male  141500
..        ...        ...            ...          ...   ...     ...
393      Prof          A             33           30  Male  103106
394      Prof          A             31           19  Male  150564
395      Prof          A             42           25  Male  101738
396      Prof          A             25           15  Male   95329
397  AsstProf          A              8            4  Male   81035

[397 rows x 6 columns]

In [89]:
df_rank = df.groupby('rank')

In [96]:
df_rank.count()

           discipline  yrs.since.phd  yrs.service  sex  salary
rank
AssocProf          64             64           64   64      64
AsstProf           67             67           67   67      67
Prof              266            266          266  266     266

Deletar Coluna

In [66]:
del DfExcelContratos['numero']

Abrir em Chunksize

In [80]:
DfTxtContratosChunk = pd.read_fwf(os.path.join(os.getcwd(),'files','BaseContratos.txt'),widths = [16,8,1,11], names = ['numero','cod_cliente','status_pagamento','data_vencimento'], chunksize=100)

In [81]:
for dataframe_chunk in DfTxtContratos:
    print(dataframe_chunk)

Inserir nova coluna em um Indice especifico

In [67]:
DfExcelContratos.insert(0, 'numero', contrato)

Funcoes Lambda

In [85]:
DfTxtClientes['CpfCnpj'] = DfTxtClientes['CpfCnpj'].apply(lambda x: str(x).zfill(11))

Salvar em CSV

In [60]:
DfExcelClientes.to_csv(os.path.join(os.getcwd(),'files','Base_out.csv'), index = False)